
#nav{
  .logo{
    background-image: url('../../../assets/logo.png');
    background-size: contain;
    background-position: center;
  }
  .dropdown-menu{
    li{

    }
  }
  font-size: 22px;
}
.lang
{
  width: 20px;
  height: 15px;
  background-color: red;
  background-size: contain;
  background-position: center;
  cursor: pointer;

}
.english{
  background-image: url('../../../assets/english.jpeg');
  background-size: contain;
  background-position: center;
}
.arabic{
  background-image: url('../../../assets/arabic.jpeg');
    background-size: contain;
    background-position: center;
}
